.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  h2 {
    font-weight: 600;
    align-items: center;
  }
}

table {
  width: 100%;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
}

button {
  border-radius: 12px;
}
