<div id="nav-bar"> 
    <div class="navbar-title">Studentska služba</div>

    <div class="navbar-buttons">
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedProfesor()" class="login-button" [routerLink]="['profesor-subject']">Ispiti</button>
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedFAKSAdmin()" class="login-button" [routerLink]="['profesor-subject-list']">Predmeti</button>
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedFAKSAdmin()" class="login-button" [routerLink]="['add-profesor-subject']">Dodavanje profesora</button>
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedFAKSAdmin()" class="login-button" [routerLink]="['student-faculty']">Upisani studenti</button>
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedSCNSAdmin()" class="login-button" [routerLink]="['student-dormitory-access']">Useljenje studenata</button>
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedSCNSAdmin()" class="login-button" [routerLink]="['dormitory-student-payments']">Lista uplata</button>
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedStudent()" class="login-button" [routerLink]="['exam-registration']">Prijava ispita</button>
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedStudent()" class="login-button" [routerLink]="['student-profile']">Profil</button>
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedStudent()" class="login-button" [routerLink]="['finance-card']">Finansijska kartica</button>
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedStudent()" class="login-button" [routerLink]="['student-meal']">Menza</button>
        <button mat-raised-button *ngIf="isLoggedIn()&&isLoggedStudent()" class="login-button" [routerLink]="['dormitory-payment']">Uplata doma</button>
        <button mat-raised-button *ngIf="!isLoggedIn()" class="login-button" [routerLink]="['login']">Prijava</button>
        <button mat-raised-button *ngIf="isLoggedIn()" class="logout-button" [routerLink]="['login']" (click)="logout()">Odjava</button>
    </div>
</div>